* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.sidebar {
    background-color: #2a2a3c;
    width: 5vw;
    height: 100vh;
    position: fixed;
    transition: width 0.3s ease;
    top: 0;
    left: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul {
    list-style: none;
}

.sidebar:hover {
    width: 10vw;
}

.sidebar svg {
    fill: #fff;
    width: 24px;
    height: 24px;
}

.sidebar:hover .text {
    opacity: 1;
}

.menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.menu li {
    margin: 15%;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px;
    transition: background-color 0.2s;
}

.menu li a svg {
    fill: #fff;
}

.icon {
    padding: 0px;
    width: 4vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-portfolio {
    padding: 0px;
    width: 4vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 1vh;
    opacity: 0%;
    transition: opacity 0.3s, visibility 0.3s;
}

header {
    background-color: #2a2a3c;
    padding: 1vh;
    text-align: center;
}

h2 {
    margin-left: 5vw;
    padding: 20px;
}

.paragraph1 {
    margin-left: 5vw;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2a2a3c;
    color: #9b59b6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
